.vscode/
.env
music/
images/
NCS/
src/php/prueba.php
src/php/index.js
src/php/player.php
src/music2.sql
src/php/.env
src/prueba.php
/vendor/
prueba.js
prueba.php
prueba.html
prueba.css
composer.phar
composer.lock
composer-setup.php
src/images.php